
{% extends 'etablissement/base.html' %}
{%  load static %}

    {% block content %}

    <!-- MAIN BODY -->
    <section class=" main">

    <div class="container  py-5">

        <form class="form form-group" method="POST" spellcheck="true">
            {% csrf_token %}
              <textarea type="text" name="message" class="form-control col-9 mx-2 message" placeholder="Type your message" rows="1"></textarea>
              <button class="btn btn-success col-2 px-3 mx-2 send-message">send<i class="fas fa-chevron-right"></i></button>
        </form>
    </div>
    </section>

  {% endblock content %}
