<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="/sites/default/files/css/css_hGSBHctUGKPIxmA1EdnwLJR-_3-mscawCjrz5eM0TC4.css?q2gopv" media="all" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700" media="all" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700" media="all" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Advent+Pro&amp;display=swap" media="all" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed&amp;display=swap&quot;" media="all" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Bebas+Neue&amp;display=swap&quot;" media="all" />
<link rel="stylesheet" href="/sites/default/files/css/css_52s_3GOE0DeyHNCC5675V0Vr_wHaxs2if56khuK4Duk.css?q2gopv" media="all" />
</head>
<body>

                               <div class="footer-four col-lg-3 col-md-3 col-sm-12 col-xs-12 column">
                    <div>
    <div id="block-contactinfo" class="block block-block-content block-block-content7da38301-272f-4979-8de1-06b564010f17">

      <h2 class="block-title" ><span>Contact</span></h2>

      <div class="content block-content">

            <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="contact-info">
    <span class="description"> Pour des informations supplémentaires n'hésitez pas à nous contacter grâce aux coordonnées suivantes</span>
	<ul class="contact-info">
		<li><span><i class="fa fa-home"></i> Entrée Lycée Technique Bassa </span> </li>
		<li><span><i class="fa fa-mobile-phone"></i> (+237)650408217</span></li>
		<li><a href="mailto:info@yourstore.com"><i class="fa fa-envelope-o"></i>iutdoualacm@gmail.com</a> </li>
		<li><span><i class="fa fa-skype"></i> skype</span> </li>
	</ul>
</div></div>

    </div>
  </div>

  </div>

                </div>
                         </div>
        </div>
    </div>
  </div>

      <div class="copyright">
      <div class="container">
        <div class="copyright-inner">
              <div>
    <div id="block-socialscopyright" class="block block-block-content block-block-contentf1ba2619-fe59-459a-85a3-922d47d5cf96 no-title">


      <div class="content block-content">

            <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="social-border">
    <div class="socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
    </div>
</div></div>

    </div>
  </div>
<div id="block-copyright1" class="block block-block-content block-block-content4db46949-2e15-4867-b84f-cc9866c95ac9 no-title">


      <div class="content block-content">

            <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><p class="text-align-center">© Copyright <a href="https://iut-dla.cm">Iut de Douala</a> 2017. Tous droits réservés.</p>
</div>

    </div>
  </div>

  </div>

        </div>
      </div>
    </div>

</footer>
</body>
</html>