{% extends 'etablissement/base.html' %}
{% load static %}

{% block content %}




    <!-- MAIN BODY -->
    <section class="main">
      <div class="form-wrapper">
        <form class="form form-group" method="POST" action="">
          {%  csrf_token %}
          <h4 class="text-white text-center">Sign up</h4>


          <label class="text-white"><i class="fas fa-user"></i> Username :</label>
          {{form.username}}

             <label class="text-white"><i class="fas fa-envelope-square"></i> Email :</label>
            {{form.email}}



          <label class="text-white mt-2"><i class="fas fa-key"></i> Password :</label>
          {{form.password1}}

           <label class="text-white mt-2"><i class="fas fa-key"></i>confirm Password :</label>
          {{form.password2}}

          <button class="btn btn-sm btn-success px-4 mt-3">Sign in</button>
          <hr class="bg-white">
          <div>
           <a href="{% url 'login' %}" class="d-flex justify-content-center text-white">Have already an account</a>
          </div>
        </form>
       
         {% for message in messages %}
         <div   class="alert alert-danger alert-dismissible " role="alert">
         <h4 class="alert-heading">ERRROR!</h4>
          {{message}}</div>
        {% endfor %}
      
      </div>
    </section>
    </div>

    	<script>
			
     var form_fields = document.getElementsByTagName('input')
     

		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
    {% endblock content %}