{% extends "etablissement/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/style2.css'%}">
<section class="main">
       <div class="text-box">
    <span>W</span>
    <span>E</span>
    <span>L</span>
    <span>C</span>
    <span>O</span>
    <span>M</span>
    <span>E</span>
    </div>
    <div>t
        <ul class="text-white consigne">
            <li>si vous êtes enseignant  alors  vous devez patientez qu'un administrateur vous débloque</li>
            <li>si vous êtes etudiants alors verifiez bien que vous avez inséré votre numero whatsapp dans votre profile</li>
            <li>pour cela il vous suffit juste clicker sur "<i id="text_id">account</i>" en haut du côté droit ensuite "<i id="text_id">settings</i>" </li>
            <li>Enfin vous devez enregistrer le numéro suivant "<i id="number">+14155238886 </i>" et envoyez le message whatsapp <i id="text_id">"join bridge-parent" </i>à ce numero.</li>
            <li>sayez vous êtes enfin prêt a recevoir tous les informations concernant l'IUT</li>
        </ul>
    </div>
         </section>
{% endblock content %}